html {
  height: 100%;
  width: 100%;
}

.dietcalc {
  height: 100%;
  width: 100%;
  top: 10px;
  display: grid;
  grid-template-columns: 150px 300px 100px;
  grid-template-rows: repeat(6, 50px) auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.label-name {
  align-items: center;
  text-align: center;
  font-size: 16px;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Muli', sans-serif;
}

.input-name {
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 16px;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-family: 'Muli', sans-serif;
}

.input-field {
  grid-column-start: 2;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
    font-family: 'Muli', sans-serif;
}

.input-field:active, .input-field:focus {
  border-bottom: 2px solid grey;
}

.input-field:hover {
  cursor: pointer;
}

.keon {
  font-size: 26px;
}

select option:checked {
  background: lightgrey
}

.change-unit {
  color: white;
  outline: none;
  border: none;
  background-color: #3498DB;
    font-family: 'Muli', sans-serif;
}

.change-unit:hover {
  background-color: #2980B9;
  cursor: pointer;
}

.static-unit {
  text-align: center;
  align-items: center;
  outline: none;
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.dropbtn {
    width: 100%;
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 5;
    -webkit-appearance: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    cursor: pointer;
}

.show {
  display:block;
}


.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.navbar-button {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.dietapp {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  text-align: center;
    grid-column-start: 2;
}

.App {
  height: 100%;
  width: 100%;
}

#root, body {
  height: 100%;
  width: 100%;
}

.selected {
  background-color: skyblue;
}

.rendered {
  height: 100% - 50px;
  width: 100%;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
  /* justify-content: space-between; */
}

.ibw {
  height: 100%;
  display: grid;
  grid-template-rows: 50, auto, auto;
}

.stats-section {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.stats {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto)  ;
  grid-template-rows: repeat(4, 50px) auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.input-section {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}
.inputs {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.caloric {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
}

.bmi {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, 50px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.caloric-stats-middle {
  display: grid;
  grid-template-rows: 50px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.mifflin-st-jeor {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 50px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.caloric-stats-bottom {
  display: grid;
  grid-template-rows: 50px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}



.caloric-needs {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.caloric-needs-chart {

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 50px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.low {
  grid-column-start: 1
}

.high {
  grid-column-start: 2
}

.condition-chart {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 50px auto;
  grid-row-gap: 20px;
}

.condition-requirement {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 250px auto auto;
  grid-template-rows: repeat(3, 50px);
  grid-column-gap: 10px;
}
