html {
  height: 100%;
  width: 100%;
}

.dietcalc {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.app {
  display: flex;
  flex-direction: row;
}

.dropbtn {
    width: 200px;
    background-color: #3498DB;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.show {
  display:block;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-button {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.dietapp {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  text-align: center;
}

.App {
  height: 100%;
  width: 100%;
}

#root, body {
  height: 100%;
  width: 100%;
}
